<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
  <div class="container">
     <p id="para">
   	
    <br>

   	
    <table class="table table-bordered table-striped" border='3' cellpadding="1" cellpadding="1">
    <thead bgcolor="aqua" class="text-center">
      <tr>
        <th class="text-center">Sr No.</th>
        <th class="text-center">Reg No.</th>
        <th class="text-center">Roll No.</th>
        <th class="text-center">Name</th>
        <th class="text-center">College Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <% students.forEach(function(e,i){ %>
      <tr>
        <td><%=i+1%></td>
        <td><%=e.regNo%></td>
        <td><%=e.rollNo%></td>
        <td><%=e.name.first+' '+e.name.last%></td>
        <td><%=e.CollegeName%></td>
        <td><%=e.address.state+' '+e.address.city+' '+e.address.country%></td>
        <td>
        <button type="button" class="btn btn-success " id="edit-btn" data-student-id='<%= e._id %>'>edit</button>&nbsp&nbsp
        <button type="button" class="btn btn-danger" id="del-btn" data-student-id='<%= e._id %>'>delete</button>
        </td>
      </tr>
      <%});%>
      </tbody>
    </table>



   </p>
   <center><a href="/student/add"><button type="button" class="btn btn-info btn-lg" id="btn-add">ADD NEW</button></a></center>
   <script type="text/javascript">
     $(".btn-success").click(function(e){
      e.preventDefault();
      window.location.href="/student/edit/"+$(this).data("student-id");
     })

     $(".btn-danger").click(function(e){

      e.preventDefault();
      var std= $(this).data("student-id");
      console.log(std);
   $.ajax({                    
  url: '/student/'+std,     
  type: 'delete',

  data : std,
                     
  success: function(result)      
  {
    
    window.location.reload();
    console.log(result);
  } 
})

})
   </script>
   </div>
  </body>
</html>
